@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 640px) {.sm\:heading-lg {
    font-family: Chromatic Grotesque, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 28px;
    line-height: 26.6px;
    letter-spacing: 0rem;
  }
}
@media (min-width: 640px) {

  .sm\:w-auto {
    width: auto;
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:flex-col {
    flex-direction: column;
  }
}