{% comment %}
  Renders slider next button.
 
  Accepts:
  - classes: {String} additional classes to apply to button. Default: '' (optional)

  Usage:
  {% render 'button__slider-next' %}
{% endcomment %}

<button type="button" class="slider-button group w-fit pointer-events-auto {{ classes }}">
    <span class="sr-only">Carousel Button Next</span>
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="48" y="48" width="48" height="48" transform="rotate(-180 48 48)" fill="white"/>
        <path d="M29.0024 24.512L19.2344 29L19.2344 27.152L27.1984 23.544L19.2344 19.936L19.2344 18.088L29.0024 22.576L29.0024 24.512Z" fill="#181613"/>
    </svg>
</button>