<div :style="`color: ${product.periodic_color}; border-color: ${product.periodic_color};" class="font-sans font-500 text-[12px] flex justify-center items-center min-w-[24px] w-[24px] min-h-[24px] h-[24px] border-2" x-text="product.periodic_letters">
</div>