.globo-form-app {
  background: transparent !important;
}

.globo-form-control input {
  background: #ffffff !important;
}

label.globo-label {
  font-size: 11px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  letter-spacing: 0.66px !important;
  text-transform: uppercase !important;
}

.text-danger {
  color: #ed1b2f !important;
  font-size: 11px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  letter-spacing: 0.66px !important;
  text-transform: uppercase !important;
}
