/*-- Begin Smart Cart */
.rebuy-cart__flyout {
  @apply bg-white;
  font-family: Chromatic Groteque, ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji !important;
  padding: 14px 24px 24px 24px !important;
  border-radius: 0px !important;
  margin: 0 !important;
  transition: right 0.25s ease-in-out, visibility 0.25s ease-in-out !important;
  // inset: 0 -100% 0 auto !important;
  inset: 0 -100% 0 auto !important;

  @screen lg {
    padding: 6px 16px 16px 16px !important;
  }
}

.is-visible {
  .rebuy-cart__flyout {
    right: 0 !important;
  }
}

.rebuy-cart__flyout-header {
  padding: 0px !important;
  border-bottom: 2px solid #181613 !important;
}
.rebuy-cart__flyout-title {
  text-align: left !important;
  font-family: Chromatic Groteque, ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-transform: none !important;
  line-height: 100% !important; /* 18px */
  padding: 10px 0px !important;

  @screen lg {
    font-size: 40px !important;
    line-height: 95% !important; /* 38px */
  }
}

.rebuy-cart__flyout-close {
  position: relative;
  width: 28px !important;
  height: 28px !important;
  i {
    display: none !important;
  }

  &::after {
    content: "";
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='28' transform='translate(0 28) rotate(-90)' fill='%23181613' fill-opacity='0.05'/%3E%3Cpath d='M18.9998 14.7919L11.0078 18.4639L11.0078 16.9519L17.5238 13.9999L11.0078 11.0479L11.0078 9.53589L18.9998 13.2079L18.9998 14.7919Z' fill='%231C1307'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
  }
}

.rebuy-cart__progress-bar-container {
  border-bottom: 1px solid #181613 !important;
}

.rebuy-cart__flyout-item-remove {
  display: none !important;
}

.rebuy-cart__flyout-item-quantity-widget {
  display: flex !important;
  align-items: center !important;
  border: none !important;
  height: 28px !important;
}

.rebuy-cart__flyout-item-quantity-widget-label {
  font-family: Chromatic Groteque, ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 16.8px */
  letter-spacing: 0.28px !important;
  border: none !important;
  background: #f3f3f3 !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 20px !important;
  width: max-content !important;

  &::before {
    content: "Qty:" !important;
    display: flex !important;
    padding-right: 5px !important;
  }
}

.rebuy-cart__flyout-item-quantity {
  margin: 12px 0 0 0 !important;
}
.rebuy-cart__flyout-item-quantity-widget-button {
  i {
    display: none !important;
  }
}

.rebuy-cart__flyout-item-quantity-widget-button:first-child {
  background: white !important;
  position: relative !important;
  width: 36px !important;
  &::after {
    content: "";
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='28' fill='%23F2F2F2'/%3E%3Cpath d='M13.896 18.392L10.792 11.64L12.136 11.64L14.6 17.08L17.064 11.64L18.408 11.64L15.304 18.392L13.896 18.392Z' fill='%23181613'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29px;
    height: 28px;
    background-repeat: no-repeat;
  }
}

.rebuy-cart__flyout-item-quantity-widget-button:last-child {
  background: white !important;
  position: relative !important;
  width: 36px !important;
  &::after {
    content: "";
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='28' fill='%23F2F2F2'/%3E%3Cpath d='M15.104 10.108L18.208 16.86L16.864 16.86L14.4 11.42L11.936 16.86L10.592 16.86L13.696 10.108L15.104 10.108Z' fill='%23181613'/%3E%3C/svg%3E ");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29px;
    height: 28px;
    background-repeat: no-repeat;
  }
}

.rebuy-cart__flyout-item-info {
  position: relative !important;
}

.rebuy-cart__flyout-item-product-title {
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 110% !important; /* 17.6px */
  letter-spacing: 0.48px !important;
  padding-right: 75px !important;
}

.rebuy-money {
  font-family: Chromatic Mono, ui-monospace, monospace !important;
  font-size: 11px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 140% !important; /* 15.4px */
  letter-spacing: 0.66px !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

.rebuy-cart__flyout-item {
  margin: 0 !important;
  align-items: start !important;
}

.rebuy-cart__flyout-item-variant-title {
  font-family: Chromatic Mono, ui-monospace, monospace !important;
  font-size: 11px 1;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 140% !important; /* 15.4px */
  letter-spacing: 0.66px !important;
  opacity: 0.75 !important;
  padding-top: 4px !important;
}

.rebuy-cart__progress-bar-meter-fill {
  background: #00a1e4 !important;
}

.rebuy-cart__flyout-item + .rebuy-cart__flyout-item {
  border-top: 1px solid #181613 !important;
}

.rebuy-cart__flyout-footer {
  padding: 20px 0 !important;
}

.rebuy-cart__flyout-actions {
  padding-top: 8px !important;

  @screen lg {
    padding-top: 10px !important;
  }
}

.rebuy-cart__flyout-subtotal-label,
.rebuy-cart__flyout-subtotal-amount {
  font-family: Chromatic Mono, ui-monospace, monospace !important;
  font-size: 11px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 140% !important; /* 15.4px */
  letter-spacing: 0.66px !important;
  text-transform: uppercase !important;
}

.rebuy-button {
  background-color: #181613 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 130% !important; /* 20.8px */
  letter-spacing: 0.48px !important;
  height: 49px !important;

  span {
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 130% !important; /* 20.8px */
    letter-spacing: 0.48px !important;
  }
}

.rebuy-cart__flyout-empty-cart a {
  background-color: #181613 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 130% !important; /* 20.8px */
  letter-spacing: 0.48px !important;
  height: 49px !important;
  margin-top: 20px !important;

  span {
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 130% !important; /* 20.8px */
    letter-spacing: 0.48px !important;
  }
}

.rebuy-cart__flyout-recommendations
  .rebuy-widget
  .rebuy-product-grid.large-style-line
  .rebuy-product-block,
.rebuy-cart__flyout-recommendations
  .rebuy-widget
  .rebuy-product-grid.medium-style-line
  .rebuy-product-block,
.rebuy-cart__flyout-recommendations
  .rebuy-widget
  .rebuy-product-grid.small-style-line
  .rebuy-product-block {
  padding: 20px 0 !important;
}

.rebuy-cart__flyout-recommendations {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: white !important;

  .rebuy-widget .rebuy-product-block .rebuy-product-info {
    justify-content: space-between !important;
  }
  .rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-title {
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 110% !important;
    letter-spacing: 0.48px !important;
    padding-right: 0px !important;
  }

  .rebuy-product-price {
    margin-top: 0 !important;
    padding-left: 10px !important;

    .rebuy-money {
      padding-top: 0 !important;
    }
  }

  .rebuy-product-actions {
    // position: absolute !important;
    // bottom: 20px !important;
    // left: 100px !important;
    padding: 0 !important;
    width: 116px !important;
    height: 28px !important;
    padding-left: 110px !important;
  }

  .rebuy-widget .rebuy-product-block {
    // height: 130px !important;
    align-items: start !important;
    align-content: start !important;
    background: white !important;
  }

  .rebuy-widget .rebuy-button {
    width: 116px !important;
    max-width: 116px !important;
    padding: 0 !important;
    height: 28px !important;
  }

  .primary-title {
    font-family: Chromatic Groteque, ui-sans-serif, system-ui, -apple-system,
      Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Noto Color Emoji !important;
    text-align: left !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 100% !important; /* 18px */
    text-transform: capitalize !important;
    padding-bottom: 10px !important;
  }
}
.rebuy-cart__flyout-recommendations {
  & div > div > .rebuy-widget-content {
    padding: 0 !important;
  }
}
/*-- End Smart Cart --*/

/*-- Begin Cross Sell --*/

.rebuy-widget-content {
  padding: 0 10px !important;
  @screen md {
    padding: 0 20px !important;
  }
}

// .rebuy-widget .splide__list {
//   column-gap: 20px !important;
// }
.rebuy-widget .rebuy-carousel__pagination {
  @screen lg {
    display: none !important;
  }
}

.powered-by-rebuy {
  display: none !important;
}
// .rebuy-widget .splide__list {
//   column-gap: 20px !important;
// }

.rebuy-product-block {
  // background: white !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.rebuy-product-media {
  background: white !important;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;

  & .rebuy-product-image {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;

    img {
      border-top-left-radius: 6px !important;
      border-top-right-radius: 6px !important;
    }
  }
}

.rebuy-product-info {
  background: white !important;
  display: flex !important;
  padding-left: 20px !important;
  padding-right: 0px !important;

  & .rebuy-money {
    display: flex !important;
    position: relative !important;
    top: auto !important;
    right: auto !important;
    font-family: Chromatic Mono, ui-monospace, monospace !important;
    font-size: 13px !important;
    line-height: 1.2rem !important;
    letter-spacing: 0.03rem !important;
    padding-top: 10px !important;
  }
}

.rebuy-product-actions {
  background: white !important;
  margin: 0 !important;
  padding: 20px !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.rebuy-widget .rebuy-product-block .rebuy-product-options {
  margin-top: 0 !important;
  padding-top: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background: white !important;
}
.rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-title {
  font-family: Chromatic Groteque, ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji !important;
  font-size: 22px !important;
  line-height: 1.51rem !important;
  letter-spacing: 0rem !important;
  text-align: left !important;
  padding-right: 20px !important;
}

.rebuy-widget .rebuy-button {
  font-family: Chromatic Groteque, ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji !important;
  background-color: rgba(242, 242, 242, var(--tw-bg-opacity)) !important;
  color: #181613 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  padding: 0 70px !important;
  height: 49px !important;
  width: fit-content !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 130% !important; /* 20.8px */
  letter-spacing: 0.48px !important;
  transition: transform 200ms ease !important;
  width: 100% !important;

  @screen lg {
    &:hover {
      transform: translateY(-2px) !important;
    }

    &:active {
      transform: translateY(0) !important;
    }
  }

  &:disabled {
    @apply bg-grey text-white;
    cursor: not-allowed;

    &:hover {
      transform: unset;
    }
  }
}

.rebuy-widget .primary-title {
  font-family: Chromatic Groteque, ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji !important;
  font-size: 30px;
  line-height: 1.88rem;
  letter-spacing: 0rem;

  @screen lg {
    text-align: left !important;
    padding-right: 20px !important;
  }
}

#rebuy-widget-165939 {
  div > .primary-title {
    font-size: 32px !important;
    padding: 0 10px !important;
    margin-bottom: 15px !important;
    line-height: 100% !important;
    text-align: center !important;

    @screen lg {
      font-size: 40px !important;
      text-align: left !important;
      margin-bottom: 5px !important;
    }
  }

  div > .description {
    padding: 0 10px !important;
    margin-bottom: 20px !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 130% !important; /* 26px */
    letter-spacing: 0.6px !important;
    text-align: center !important;

    @screen lg {
      text-align: left !important;
      margin-bottom: 10px !important;
    }
  }

  div > .rebuy-widget-content {
    padding: 0 10px !important;
  }

  div > .rebuy-product-block {
    padding-top: 0px !important;

    @screen lg {
      padding-top: 20px !important;
    }
  }
}

.rebuy-widget .description {
  color: #181613 !important;
}
/*-- End Cross Sell --*/
