<section x-data="{ fadeIn: false }" x-intersect.threshold.20="fadeIn = true" :class="fadeIn && 'animate-fade-in-500'" class="opacity-0 md:px-5 lg:py-18 py-12">
  <h2 class="lg:text-{{ section.settings.heading_size }} text-{{ section.settings.heading_align }} lg:leading-100 lg:-tracking-1 leading-95 capitalize text-32 lg:mb-7.5 mb-5 lg:px-0 px-2.5">{{ section.settings.heading }}</h2>
  <div class="md:grid hidden lg:gap-x-5 md:gap-y-7 md:gap-2.5 grid-cols-12">
    {% assign count = 0 %}
    {% for product in section.settings.collection.products %}
      {% assign count = count | plus: 1 %}
      {% if count > section.settings.product_limit %}
        {% break %}
      {% endif %}
      <div class="lg:col-span-3 md:col-span-4">
        {%- render 'product__card', product: product -%}
      </div>
    {% endfor %}
    {% for block in section.blocks %}
      {% assign count = count | plus: 1 %}
      {% if count > section.settings.product_limit %}
        {% break %}
      {% endif %}
      <div class="lg:col-span-3 md:col-span-4">
        {%- render 'product__card', product: block.settings.product -%}
      </div>
    {% endfor %}
  </div>
  <button-slider
    class="flex md:hidden flex-col h-full justify-between"
    data-slider-options='{
      "breakpoints": {
        "(max-width: 1024px)": {
          "mode": "snap",
          "rtl": false,
          "loop": true,
          "slides": { "perView": "1.2", "spacing": 20 }
        },
        "(min-width: 1024px)": {
          "mode": "snap",
          "rtl": false,
          "loop": true,
          "slides": { "perView": "auto", "spacing": 20 }
        }
      }
    }'
  >
   
    <div
      role="tabpanels"
      class="keen-slider"
    >
      <div class="flex overflow-hidden lg:px-0 px-2.5">
        {% assign count = 0 %}
        {% for product in section.settings.collection.products %}
          {% assign count = count | plus: 1 %}
          {% if count > section.settings.product_limit %}
            {% break %}
          {% endif %}
          <div class="keen-slider__slide">
          {%- render 'product__card', product: product -%}
          </div>
        {% endfor %}
        {% for block in section.blocks %}
          {% assign count = count | plus: 1 %}
          {% if count > section.settings.product_limit %}
            {% break %}
          {% endif %}
          <div class="keen-slider__slide">
          {%- render 'product__card', product: block.settings.product -%}
          </div>
        {% endfor %}
      </div>
    </div>
  </button-slider>
</section>

{% schema %}
  {
    "name": "Product Card Grid",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "Heading Size",
        "options": [
          {
            "value": "64",
            "label": "Large"
          },
          {
            "value": "32",
            "label": "Small"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_align",
        "label": "Heading Align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "product_limit",
        "min": 4,
        "max": 20,
        "step": 4,
        "label": "Product Limit",
        "default": 8
      }
    ],
    "blocks": [
      {
        "name": "product",
        "type": "Product",
        "settings": [
           {
             "type": "product",
             "id": "product",
             "label": "Product"
           },
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Card Grid",
        "settings": {
          "heading": "Most Popular for Chefs",
          "heading_size": "32",
          "heading_align": "left",
          "collection": "blends",
          "product_limit": 8
        },
      }
    ]
  }
{% endschema %}
