<div class="header-spacer"></div>

{% schema %}
    {
        "name": "Header Spacer",
        "settings": [],
        "presets": [
            {
                "category": "Header",
                "name": "Header Spacer",
                "settings": {}
            }
        ],
        "enabled_on": {
            "templates": ["*"]
        }
    }
{% endschema %}