<div class="container">
<iframe src="https://www.faire.com/embed/bw_zkjdvc8nqj" width="900" height="600" scrolling="no" style="margin:0 auto;border:none;display:block;max-width:100%;width:900px;height:600px;"></iframe>
</div>
{% schema %}
  {
   "name": "Faire Widget",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "copy",
      "label": "Copy"
    }
  ],
    "enabled_on": {
      "templates": ["*"]
    },
    "presets": [
      {
        "name": "Faire Widget"
      }
    ]
  }
{% endschema %}